target
logs
*.log
node_modules/
jspm_packages/
./src/main/java/com/ujr/oauth/client/credentials/google/api/appservice/scorecard-ujr-2a310402735b.json
client_secret_378021837134-9ga1n3bkc40fasa0lgn79cpilb74lv1n.apps.googleusercontent.com.json
notes.txt
OauthClientSideApplication.txt
./src/main/java/com/ujr/oauth/client/credentials/google/api/appservice/REAL-ualter-oauth-sandbox-28d6b2d2477c2.json
src/main/java/com/ujr/oauth/client/credentials/google/api/appservice/REAL-ualter-oauth-sandbox-28d6b2d2477c2.json
/server-ualter-oauth-sandbox/REAL-ualter-oauth-sandbox2.js
