#--------OAuth2.0 Client Configuration---------
scope=https://www.googleapis.com/auth/gmail.readonly
grant_type=password
username=ualter.junior
password=...
client_id=899377700198-8kmnvan1dm4hi88af7kn4j7ttv0t4gr1.apps.googleusercontent.com
client_secret=8uQdgb0qXqBJuwTBm5b1AsgE
#access_token=
#refresh_token=
authentication_server_url=https://accounts.google.com/o/oauth2/auth
#resource_server_url=
#------------------------------------------------






















