body, input, select, textarea {
	font-family: "Verdana";
	font-size: 11px;
	color: white;
}
body {
	background-color:#FF8b40;
}
table {
    border-top: 1px black solid;
    border-left: 1px black solid;
    box-shadow: 10px 10px 5px #202020;
}
td {
	border-bottom: 1px black solid;
	border-right:1px black solid;
}
.header {
	background: RGB(166,65,0);
	height: 25px;
	font-size: 13px;
	font-weight: bold;
}
.line {
	font-size: 11px;
	background: RGB(250,250,250);
	color: black;
}
